# Basic .gitattributes for a repo that includes Maya files and fbxes..

# Source files
# ============


# Caution: *.m also matches Mathematica packages.

# Binary files
# ============
*.ma            linguist-vendored
*.mb            linguist-vendored
*.fbx           linguist-vendored
