body {
    margin: 0;
    height: 100%;
    /* Old browsers */
    background: -moz-linear-gradient(top, #CE4F6C 0%, #603556 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #CE4F6C 0%, #603556 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #CE4F6C 0%, #603556 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#CE4F6C', endColorstr='#603556', GradientType=0);
    /* IE6-9 */
    animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

canvas {
    height: 100%;
    width: 100%;
    display: block;
}

#title,
#status {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    font-family: 'Megrim', cursive;
    font-size: 3rem;
    color: #EEEEEE;
}

#status {
    top: 50%;
    font-size: 6rem;
}

#debugInfoL,
#debugInfoR {
    line-height: 1.25rem;
    position: absolute;
    top: 60%;
    width: 20%;
    height: 20%;
    text-align: left;
    z-index: 101;
    display: block;
    font-size: .75rem;
    font-family: 'Press Start 2P', cursive;
    color: #EEEEEE;
}

#debugInfoR {
    right: 3%;
    left: none;
}

#debugInfo {
    left: 2%;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}